<!DOCTYPE html>
<html lang="en" ng-app="todoApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>    
    <script src="app.js"></script>
</head>
<body>
    <h1 class="display-1">Todo App</h1>
    <div ng-controller="ToDoCtrl as todo">
        <h6 class="display-6">Add a Todo:</h6>
        <input type="text" class="form-control" placeholder="Add new todo item" ng-model="todo.newItem"/>
        <button type="button" class="btn btn-success" ng-click="todo.addItem()">Add</button>
        <h6 class="display-6">Your Todos:</h6>
        <button type="button" class="btn btn-primary" ng-hide="todo.editMode" ng-click="todo.changeMode()">Edit</button>
        <button type="button" class="btn btn-success" ng-show="todo.editMode" ng-click="todo.changeMode()">Done</button>
        <div class="card">
            <div class="card-body">
                <div ng-repeat="obj in todo.todoList track by $index">
                    <p ng-hide="todo.editMode">{{ $index+1 }}. {{ obj }} <button type="button" class="btn btn-sm btn-danger" ng-click="todo.deleteItem($index)">Delete</button></p>
                    <p ng-show="todo.editMode">{{ $index+1 }}. <input type="text" class="form-control" ng-model="obj" value="{{obj}}"/></p>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</body>
</html>