<!DOCTYPE html>
<html lang="en" ng-app="clockApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clock App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
</head>
<body>
    <div ng-controller="MainCtrl">
        <h1>Hello Angular!</h1>
        <p ng-if="hourOfDay < 12">Good morning!</p>
        <p ng-if="hourOfDay > 17">Good evening!</p>
        <p>The hour of the day is: {{hourOfDay}}</p>
    </div>
    <script>
        var clockApp = angular.module("clockApp", []);
        clockApp.controller("MainCtrl", Main);
        
        function Main($scope) {
            $scope.hourOfDay = 10;
        }
    </script>
</body>
</html>