<!DOCTYPE html>
<html lang="en" ng-app="clockApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clock App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body>
    <div ng-controller="MainCtrl">
        <h1>Clock App</h1>
        <p>Please enter your name: <input ng-model="userName" type="text"/></p>
        <p>The current time is: {{timeString}}</p>
        <p ng-if="userName">Oh and btw your name is {{userName}}</p>
        <button ng-click="updateTime()">Update Time</button>
    </div>
</body>
</html>