<!DOCTYPE html>
<html lang="en" ng-app="ngModelExamples">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ngModel Examples</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body>
    <div ng-controller="ExamplesCtrl">
        <h1>ng-model examples</h1>
        <p>Textbox: <input type="text" ng-model="userName" ng-change="textboxChange()"></p>
        <p>Radio: 
            <input type="radio" ng-model="radioValue" value="opt1">Option 1</input>
            <input type="radio" ng-model="radioValue" value="opt2">Option 2</input>
            <input type="radio" ng-model="radioValue" value="opt3">Option 3</input></p>

        <p>Text: {{userName}}</p>
        <p>Radio: {{radioValue}}</p>
    </div>
</body>
</html>